
@import './var.css';

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color:transparent;
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
  line-height: 1;
  height: 100%;
  background: var(--color-background);
}

body{
  height: 100%;
  display: flex;

}
body::-webkit-scrollbar{
  width: 0;
  height: 0;
}


.scale15,.scaleYBefore15,.scale25,.scaleYBefore25{
  position: relative;
}
.scale15::after,.scaleYBefore15::before,.scale25::after,.scaleYBefore25::before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0);
  transform: scale(1.5);
}
.scaleYBefore15::before{
  transform: scaleY(1.5);
}
.scale25::after{
  transform: scale(2.5);
}
.scaleYBefore25::before{
  transform: scaleY(2.5);
}
.nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap2 {
  display: flex;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
}

@n ry{

  @b dl {
    min-height: 100%;
    width: 100%;
    overflow: overlay;
    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }
  }

  @b card{

    @e big{
      background-image: linear-gradient(-221deg, rgba(255,255,255,0.98) 0%, var(--color-write) 94%);
      box-shadow: 0 5px 30px 10px rgba(197,202,213,0.15);
      border-radius: 4px;
      border-radius: 4px;
    }

    @e mini{
      background: var(--color-write);
      box-shadow: 0 5px 20px 0 rgba(197,202,213,0.25);
      border-radius: 4px;
      border-radius: 4px;
    }
  }

  @b button{

    @e main{
      background-image: var(--color-main-light);
      border-radius: 8px;
      border-radius: 8px;
      width: 670px;
      line-height: 100px;
      font-size: 36px;
      color: var(--color-write);
      text-align: center;
      font-family: PingFangSC-Medium;

      &:active{
        background: rgba(0,0,0,0.10);
      }
      @m active{
        background: rgba(0,0,0,0.10);
      }

      @m un{
        opacity: 0.25;
        border-radius: 4px;
        border-radius: 4px;
      }

      @m disabled{
        background: var(--color-disabled);
        border-radius: 4px;
        border-radius: 4px;
      }
    }

    @e minor{
      border-radius: 8px;
      border-radius: 8px;
      width: 670px;
      line-height: 100px;
      font-size: 36px;
      color: var(--color-font-1);
      text-align: center;
      font-family: PingFangSC-Medium;
      letter-spacing: -0.87px;
      position: relative;

      &::before{
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid var(--color-main);
        z-index: 1;
        border-radius: 8px;
      }

      &:active{
        background: var(--color-background-1);
      }

      @m active{
        background: var(--color-background-1);
      }

      @m disabled{
        color: var(--color-title-2);
        &::before{
          border: 2px solid var(--color-title-2);
        }
      }
    }

    @e small{
      width: 160px;
      line-height: 64px;
      font-size: 28px;
    }
  }

  @b tag{
    @e only{
      background: url(../images/only.png) no-repeat;
      background-size: 100%;
      width: 84px;
      height: 26px;
      margin-left: 20px;
    }
  }
}
